/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Work Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --dark-purple: #10002b;
    --purple: #5a189a;
    --aqua: #02c39a;  
    --off-white: #e6e1ff;
    --off-grey: #bcb9cf;
}

.container-page {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: var(--off-white);
    grid-column: 2 / 3;
    border-bottom: 1px solid var(--dark-purple);
}

.header-container {
    display: grid;
    grid-template-columns: 0.65fr 6fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1.5fr;
    align-items: center;
    height: 100%;
}

.header-container, a {
 text-align: center;
}

.header img {
    height: 24px;
}

.icon-search {
    margin-left: 20px;
    padding: 10px;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
}

.icon-search:hover {
    cursor: pointer;
    border: 1px solid #10002b79;   
    transform: scale(1.1);
}

.search-bar {
    grid-column: 2 / 5;
    border: none;
    padding: 10px;
    outline: none;
    background-color: var(--off-white);
    border-bottom: 3px solid var(--off-grey);
    border-radius: 1px;
    margin-right: 50px;
    transition: 0.2s ease-in;
    color: var(--dark-purple);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

.search-bar:focus {
    border-bottom: 3px solid var(--aqua);
}

.notification{
    grid-column: 5 / 6;
    transition: 0.2s ease-in;
    justify-self: center;
}

.notification:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.header .icon-avatar {
    height: 44px;
    transition: 0.2s ease-in;
    grid-column: 6 / 7;
    justify-self: center;
}

.icon-avatar:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.user-name {
    font-size: 18px;
    grid-column: 7 / 8;
}

.icon-avatar.large {
    height: 56px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-left: 20px;
}

.icon-avatar.large:hover {
    cursor: pointer;
}

.welcome-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: start;
    justify-self: start;
    display: grid;
    gap: 5px;
    grid-template-rows: 1fr 1fr;
    padding-left: 15px;
    padding-top: 20px;
}

.welcome-msg {
    color: var(--dark-purple);
    grid-row: 1 / 2;
    text-align: left;
}

.header-user-name {
    grid-row: 2 / 3;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
}

.btn-container {
    grid-row: 2 / 3;
    grid-column: 3 / 8;
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 100px;
    padding: 10px 15px;
    color: var(--dark-purple);
    background-color: var(--off-white);
    font-family: 'Work Sans', sans-serif;
    border: 2px solid var(--purple);
    border-radius: 20px;
    transition: 0.1s ease-in;
}

.btn:hover {
    cursor: pointer;
    color: var(--aqua);
    border: 2px solid var(--aqua);
    transform: scale(1.05);
    border-radius: 15px;
}

.sidebar {
    background-color: var(--dark-purple);
    grid-row: 1 / 3;
}

.sidebar-container {
    height: 96%;
    display: grid;
    grid-template-columns: 2fr 4fr 1px;
    grid-template-rows: 4fr repeat(5, 1fr) 4fr repeat(3, 1fr);
    gap: 20px;
}

.logo {
    grid-column: 1 / 2;
    padding-left: 20px;
    transform: rotate(40deg);
}

.title {
    grid-column: 2 / 3;
    font-size: 32px;
    color: var(--off-white);
    padding-top: 15px;
    transition: 0.2s ease-in;
    font-weight: 600;
}

.title-color {
    color: var(--aqua);
}

.title:hover {
    cursor: pointer;
    color: var(--purple);
}


.logo-sidebar {
    height: 22px;
    width: auto;
    padding-left: 20px;
    grid-column: 1 / 2;
}

.tag-sidebar {
    font-size: 18px;
    color: var(--off-white);
    transition: 0.2s ease-in;
    grid-column: 2 / 3;
    padding-right: 15px;
}

.tag-sidebar:hover {
    color: var(--aqua);
    cursor: pointer;
}

.tag-sidebar:hover::before {
    content: url(img/icon-leaf-small.svg);
    padding-right: 10px;
}

.main-content {
    background-image: url(img/admin-bg-6.png);
    background-color: var(--off-grey);
    background-position-y: 20px;
    display: grid;
    grid-template-columns: minmax(350px, 2fr) minmax(350px, 2fr) 1fr;
    grid-template-rows: 1fr repeat(3, 4fr); 
}

.title-content {
    margin:15px 0 0 10px;
    font-weight: 600;
    font-size: 22px;
}

.item-card {
    height: 85%;
    width: auto;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    background-color: var(--off-white);
    grid-row: 2 / 3;
    border-left: 5px solid var(--purple);
    box-shadow: 0px 2px 10px 0px #10002b41;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-start;
    transition: 0.1s ease-in;
}

.item-card:hover {
    border-left: 10px solid var(--aqua);
}

.item-card.one {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.item-card.two {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.item-card.three {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
.item-card.four{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.item-card.five{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.item-card.six{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.item-title {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0 5px 25px;
    text-decoration: underline;
    margin-right: auto;
    transition: 0.2s ease-in;
}

.item-title:hover {
    color: var(--purple);
    cursor: pointer;
}

.item-desc {
    padding: 0 25px;
    font-size: 16px;
}

.item-icons {
    padding-right: 25px;
}

.item-icon {
    height: 22px;
    transition: 0.05s ease-in;
}

.item-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.main-content-right {
    height: 95%;
    align-self: start;
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    margin: 0 15px 10px 0;
}

.right-announcements {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    margin:15px 0 0 0px;
    font-weight: 600;
    font-size: 22px;
}

.main-content-right-top {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 46%;
    background-color: var(--off-white);
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px #10002b41;
    border-left: 5px solid var(--purple);
}

.main-content-right-bottom {
    width: 100%;
    height: 46%;
    background-color: var(--off-white);
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px #10002b41;
    border-left: 5px solid var(--purple);
}

.trending {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 22px;
}

.right-content-item {
    margin: auto;
    padding-top: 5px;
    width: 80%;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
}

.right-content-item-title {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
    transition: 0.1s ease-in;
}

.right-content-item-title:hover {
    cursor: pointer;
    color: var(--purple);
}

.break {
    height: 1px;
    width: 80%;
    background-color: var(--off-grey);
    align-self: center;
    margin-left: 20px;
}

.main-content-right-bottom {
    display: grid;
}

.main-content-right-bottom img {
    height: 32px;
    transition: 0.1s ease-in;
}

.bottom-right-content-item img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.bottom-right-content-item {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
